
*{
    padding: 0;
    margin: 0;
}
body {
	
	background: #e0e0e0;
}

a {margin-top: -10px;
	height: 80px;
	width: 100px;
	text-align: center;
	text-decoration: none;
}

/*---------- Wrapper --------------------*/
.alingLogo{
    float: left;
}
.logo {
    padding: 14px;
    width:90px;
    height:83px;
    position: absolute;
    float: left;
}
nav {
    
	width: 100%;
	
	background:#fff;
}

ul{
    text-align: right;
}

ul li {
    display: inline;
	font: 13px Verdana, 'Lucida Grande';
	cursor: pointer;
	-webkit-transition: padding .05s linear;
	-moz-transition: padding .05s linear;
	-ms-transition: padding .05s linear;
	-o-transition: padding .05s linear;
	transition: padding .05s linear;
}
ul li.drop {
	position: relative;
}
ul > li {
	display: inline-block;
}
ul li a {
	line-height: 80px;
	padding: 0 20px;
	height: 80px;
	color: #777;
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
}
ul li a:hover {
	color: #eee;
}

.seleccion .triangle {
	width: 0;
	height: 0;
	position: absolute;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid black;
	top: -8px;
	left: 50%;
	margin-left: -8px;
}
.dropdownContain {
	width: 160px;
	position: absolute !important;
	z-index: 2;
	left: 50%;
	margin-left: -80px; /* half of width */
	top: -400px;
}
.seleccion {
	width: 160px;
	background: white;
	float: left;
	position: relative;
	margin-top: 0px;
	opacity: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
	box-shadow: 0 1px 6px rgba(0,0,0,.15);
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
}

.seleccion ul {
	float: left;
}
.seleccion ul li {
	text-align: left;
	float: left;
	width: 140px;
	height: 50px;
	margin: 0px 10px 10px;
	color: #777;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

}

.seleccion ul li:hover {
	background: #f6f6f6;
}

ul li:hover a { color: black; }
ul li:hover .dropdownContain { top: 65px; }
ul li:hover .underline { border-bottom-color: #777; }
ul li:hover .seleccion { opacity: 1; margin-top: 8px; }

h2{
	padding-top: 10px;
	padding-left: 10px;
}

footer {
    background: rgb(39, 37, 37);
    position: absolute;
    width: 100%;
    height: 100px;
    color: white;
  }
  
  figure{
	padding: 10px;
}
.footer_content{
    width: 100%;
	height: 100px;
	padding:20px; 
    background: rgb(39, 37, 37);
    text-align: center;
    color:#fff;
}
.ico{
   
    width: 40px;
    height: 40px;
    padding: 10px;
}.container{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}
.cont{
	position: relative;
	padding: 10px;
	height: 300px;
	width: 100%;
	background: #fff;
	padding-top: 10px;
}
.inicio_img{
	margin-left: 15px;
	width: 47%;
	height: 300px;
	float: right;
}
.img_cont{
	margin-top: -5.5px;
	padding-right: 15px;
	width: 582px;
	height: 290px;

}
.inicio_cont{
    
	width: 47%;
	height: 300px;
	float: left;
}
.inicio_img2{

	width: 47%;
	height: 300px;
	float: left;
}

.inicio_cont2{
	margin-left: 70px;
	width: 47%;
	height: 300px;
	float: right;
}
